body {
    background-image: url('../Images/background.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-position-x: 0;
    background-position-y: 0;
    background-attachment: fixed;
}
