
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div style="color: #a00704 !important; width: 50%; float: right">


    <h2><b>Witam na stronie NBAMetrics</b></h2>
    <b>
        Strona powstała w celu podsumowania osiągnięć drużyn NBA na przestrzeni całej historii.
        Aby dowiedzieć się więcej o możliwościach jakie oferuje strona, przejdź do zakładki "Przewodnik po NBAMetrics"


    </b>
</div>
<div style="clear: both"></div>

