<ul id="itemsPolicz" class="dropdown-menu" style="column-count: 4">
    <li><a href="~/Calculation/Index/1">1946/47</a></li>
    <li><a href="~/Calculation/Index/2">1947/48</a></li>
    <li><a href="~/Calculation/Index/3">1948/49</a></li>
    <li><a href="~/Calculation/Index/4">1949/50</a></li>
    <li><a href="~/Calculation/Index/5">1950/51</a></li>
    <li><a href="~/Calculation/Index/6">1951/52</a></li>
    <li><a href="~/Calculation/Index/7">1952/53</a></li>
    <li><a href="~/Calculation/Index/8">1953/54</a></li>
    <li><a href="~/Calculation/Index/9">1954/55</a></li>
    <li><a href="~/Calculation/Index/10">1955/56</a></li>
    <li><a href="~/Calculation/Index/11">1956/57</a></li>
    <li><a href="~/Calculation/Index/12">1957/58</a></li>
    <li><a href="~/Calculation/Index/13">1958/59</a></li>
    <li><a href="~/Calculation/Index/14">1959/60</a></li>
    <li><a href="~/Calculation/Index/15">1960/61</a></li>
    <li><a href="~/Calculation/Index/16">1961/62</a></li>
    <li><a href="~/Calculation/Index/17">1962/63</a></li>
    <li><a href="~/Calculation/Index/18">1963/64</a></li>
    <li><a href="~/Calculation/Index/19">1964/65</a></li>
    <li><a href="~/Calculation/Index/20">1965/66</a></li>
    <li><a href="~/Calculation/Index/21">1966/67</a></li>
    <li><a href="~/Calculation/Index/22">1967/68</a></li>
    <li><a href="~/Calculation/Index/23">1968/69</a></li>
    <li><a href="~/Calculation/Index/24">1969/70</a></li>
    <li><a href="~/Calculation/Index/25">1970/71</a></li>
    <li><a href="~/Calculation/Index/26">1971/72</a></li>
    <li><a href="~/Calculation/Index/27">1972/73</a></li>
    <li><a href="~/Calculation/Index/28">1973/74</a></li>
    <li><a href="~/Calculation/Index/29">1974/75</a></li>
    <li><a href="~/Calculation/Index/30">1975/76</a></li>
    <li><a href="~/Calculation/Index/31">1976/77</a></li>
    <li><a href="~/Calculation/Index/32">1977/78</a></li>
    <li><a href="~/Calculation/Index/33">1978/79</a></li>
    <li><a href="~/Calculation/Index/34">1979/80</a></li>
    <li><a href="~/Calculation/Index/35">1980/81</a></li>
    <li><a href="~/Calculation/Index/36">1981/82</a></li>
    <li><a href="~/Calculation/Index/37">1982/83</a></li>
    <li><a href="~/Calculation/Index/38">1983/84</a></li>
    <li><a href="~/Calculation/Index/39">1984/85</a></li>
    <li><a href="~/Calculation/Index/40">1985/86</a></li>
    <li><a href="~/Calculation/Index/41">1986/87</a></li>
    <li><a href="~/Calculation/Index/42">1987/88</a></li>
    <li><a href="~/Calculation/Index/43">1988/89</a></li>
    <li><a href="~/Calculation/Index/44">1989/90</a></li>
    <li><a href="~/Calculation/Index/45">1990/91</a></li>
    <li><a href="~/Calculation/Index/46">1991/92</a></li>
    <li><a href="~/Calculation/Index/47">1992/93</a></li>
    <li><a href="~/Calculation/Index/48">1993/94</a></li>
    <li><a href="~/Calculation/Index/49">1994/95</a></li>
    <li><a href="~/Calculation/Index/50">1995/96</a></li>
    <li><a href="~/Calculation/Index/51">1996/97</a></li>
    <li><a href="~/Calculation/Index/52">1997/98</a></li>
    <li><a href="~/Calculation/Index/53">1998/99</a></li>
    <li><a href="~/Calculation/Index/54">1999/00</a></li>
    <li><a href="~/Calculation/Index/55">2000/01</a></li>
    <li><a href="~/Calculation/Index/56">2001/02</a></li>
    <li><a href="~/Calculation/Index/57">2002/03</a></li>
    <li><a href="~/Calculation/Index/58">2003/04</a></li>
    <li><a href="~/Calculation/Index/59">2004/05</a></li>
    <li><a href="~/Calculation/Index/60">2005/06</a></li>
    <li><a href="~/Calculation/Index/61">2006/07</a></li>
    <li><a href="~/Calculation/Index/62">2007/08</a></li>
    <li><a href="~/Calculation/Index/63">2008/09</a></li>
    <li><a href="~/Calculation/Index/64">2009/10</a></li>
    <li><a href="~/Calculation/Index/65">2010/11</a></li>
    <li><a href="~/Calculation/Index/66">2011/12</a></li>
    <li><a href="~/Calculation/Index/67">2012/14</a></li>
    <li><a href="~/Calculation/Index/68">2013/14</a></li>
    <li><a href="~/Calculation/Index/69">2014/15</a></li>
    <li><a href="~/Calculation/Index/70">2015/16</a></li>
    <li><a href="~/Calculation/Index/71">2016/17</a></li>
</ul>
